nav{
  padding:10px;
}

nav a{
  display:inline-block;
  margin-right:12px;
  padding:6px 14px;
  border:1px solid #ccc;
  border-radius:6px;
  text-decoration:none;
  color:pink;
  background:#f4f1fb;
}

nav a:hover{
  background:white;
}